<div class="about" style="text-align: center">
	<h1>About</h1>
	<p><span class="logo">Earth Pinner</span> is all about beautiful places.<br> The founders are dedicated to help others find the world's most beautiful natural places. It all started when one of our founders in 1996 traveled to Argentina to see a friend. He did not realize that the beautiful Iguazu Falls even existed and missed the opportunity to see them until he returned in 2012.</p> 
	<p><span class="logo">Earth Pinner</span>'s founders are travel enthusiancs.<br> We often found that many travellers' best experiences came from seeing the most unique and beautiful places. Travellers are also often inspired to go somewhere by a simple photo or memory and not by guidebooks, travel blogs, or travel agents. We hope you enjoy the site and have fun on your next adventure.</p>
</div>