<h1>Earth Pinner's Travel Planner</h1>

<div class="travel_plan">
<h4>Select Destination, Time</h4>
<h4>Save Money</h4>
<h4>Get Passport</h4>
<h4>Check Visa</h4>
<h4>Book Flights</h4>
<a href="https://www.google.com/flights/">Google Flights</a>
<h4>Book Accomodation</h4> 
<a href="http://www.expedia.com">Hotels</a> 
<a href="http://www.airbnb.com">Airbnb</a> 
<a href="http://www.couchsurfing.com">Couchsurfing</a> 
	Transport 
<h4><a href="http://www.schwab.com">Charles Schwab</a></h4>
<h4>T-Mobile</h4>

<h4>Other Tips: Safety, Disease, Mecidence, Travel Warnings, Learn a few words, Tours</h4>
</div>
