<!DOCTYPE html>
<html>
  <head>
    <title>Earth Pinner</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body style="position: relative; overflow: hidden; height: 100%;">
	<h1>UNDER CONSTRUCTION</h1>

<!--
		<div class="main_menu_link">
	<a href="/"><span class="glyphicon glyphicon-arrow-left"></span></a>
	</div>
	
	<div class="travel_menu"> 
		<ul>
			<li class="travel_link"><a href="#places"><div class="dot"></div></a></li>
			<li class="travel_link"><a href="#passport"><div class="dot"></div></a></li>
			<li class="travel_link"><a href="#skyscanner"><div class="dot"></div></a></li>
		</ul>
	</div>
<div class="full_page_wrapper">
	<div id="places" class="full_page_section page_one active">
		<div class="plan_header">
			<h1>Earth Pinner's Travel Planner</h1>
			<p>Find Your Next Destination<a href="/places"><span class="glyphicon glyphicon-plane"></span></a></p>
			<p>Earth Pinner has the largest database of beautiful places to go</p>
		</div>
	</div>

	<div id="passport" class="full_page_section page_two">

		<div class="passport_section">
			<div class="passport_content">
				<h4>1. Passport</h4>
				<p>Almost every country (with exceptions) will require a passport to visit. Get your passport <a href="https://travel.state.gov/content/passports/en/passports.html">here!</a></p>
			</div>	
		</div>

		<div class="passport_section">
			<div class="passport_content">	
				<h4>2. Visa</h4>
				<p>Over a hundred countries will issue US citizens a tourist visa on arrival with a 	valid passport. However, you should still check each country's policy. There are links to visa requirements on our website for every place.</p>
				<p>For US Citizens: <a href="https://travel.state.gov/content/passports/en/country.html">State Department</a></p>
			</div>
		</div>

	</div>

	<div id="skyscanner" class="full_page_section page_three">
	I love you
	</div>

</div>
<div class="travel_plan_info">
	<h4>1. Where Do You Want To Go? How Much Time Do You Have?</h4>
	<p><a href="http://earthpinner.com/places">Places</a></p>

	<h4>2. Save Money</h4>
	<p>Tip: Understand the math of small numbers. That $5 Uber ride wasn't that much more then a $2 bus ride right?. Actually it was... 
	<p>Lets say you took that $5 Uber ride once, every single day of the year.
	5 * 365 = <span style="color: red">$1,825.</span> Now, lets say you paid a $2 bus fare instead for the whole year. 2 * 365 = <span style="color: red">$730.</span> A total savings of <span style="color: red">$1095.</span>  There is your vacation to Europe this summer.</p>

	

	<h4>5. Flights</h4><a href="https://www.google.com/flights/">Google Flights</a>
	<p>There are many websites that book flights. Our belief is that it is always best to book directly through the airline. Airlines have a lot of writing in small print. It is important that you read and understand the rules so you do not get charged extra fees.</p>

	<h4>6. Package Deals, Accomodation And Transport</h4>	
	<p>Shop Around. There are more websites then listed below.</p><a href="http://www.expedia.com">Expedia</a>, <a href="http://www.airbnb.com">Airbnb</a>, <a href="http://www.couchsurfing.com">Couchsurfing</a> 

	<h4>7. Talk To Chuck</a></h4>
	<p><a href="http://www.schwab.com">Charles Schwab</a> provides you with a great international debit card that works in almost every country in the world. They also reimbursements ATM fees and have excellent exchange rates. While it is nice to always have some cash on you. (US Dollar are accepted in many places where it isn't even legal tender). Charles Schwab is an extremely reliable option. The downside: it is strictly an online bank.

	<h4>8. T-Mobile</h4>
	<p><a href="https://www.t-mobile.com/optional-services/roaming.html">T-Mobile's</a> international roaming is available in over 140 countries. They offer free unlimited 2G/3G, free texting, wi-fi calling. T Mobile only offers one phone plan.</p>

	<h4>9. Safety</h4>
	<p>Take time to know where you are going. It is important understand that the world is mostly a safe place to walk around. It is unlikely that something will happen to you. However, do keep in mind that in some countries that foreigners are targeted for robberies. Leave some valuable possession at home or make sure they are well hidden.</p>

	<h4>10. Disease</h4>
	<p>Unforunately, most of the risk of disease is overstated on the internet. However, we will not pretend to be doctors. Do your research and consult your doctor.</p>

	<h4>11. Learn a few words</h4>
	<p>"Hello" and "Thank You" go a long way just about anywhere</p>

	<h4>12 .Tours</h4>
	<p>Purchasing <em>day tours</em> from your home country is often overpriced. Unless it is an exclusive tour, tt is often quite easy to purchase a tour at arrival from your destination. Earth Pinner also provides info on how to arrive at places without a tour.</p>

	<h4>13. Travel Insurance</h4>
	<p>As always Earth Pinner encourages you to do your own research. It seems every single travel website says travel insurance is a must. "YOU HAVE TO HAVE IT. I'VE HEARD SOOO MANY STORIES!!!!!". You've seen that one before. The author of this website does not travel with insurance and does not recommend travel insurance in some cases. The author og this website also doesn't jump off cliffs or have anything more valuable then his laptop</p>

	<p>This is our recommendation: Insurance is meant to protect agains the risk of loss. More importantly, financial loss. Spending a weekend in London? The chances of loss are quite low. Hiking in the Amazon? The risks are greater and travel insurance might be something you want to consider</p>

	<p>*The infomation provide is intended for US Citizens. We do not receive anything from any of the companies mentioned</p>
</div>
-->
</body>
</html>