<h1>Earth Pinner's Travel Planner</h1>

<div class="travel_plan">
<h4>Select Destination, Time</h4>
<h4>Save Money</h4>
<h4>Get Passport</h4>
<h4>Check Visa</h4>
<h4>Book Flights</h4>
	Google Flights
<h4>Book Accomodation</h4> 
Hotels, Airbnb, Couchsurfing, Hostelworld
	Transport 
<h4>Charles Schwab</h4>
<h4>T-Mobile</h4>

<h4>Other Tips: Safety, Disease, Mecidence, Travel Warnings, Learn a few words</h4>
</div>
