<h1>Pages#help</h1>
<p>Find me in app/views/pages/help.html.erb</p>

Destination, Time

1. Save Money
2. Buy luggage
2. Get Passport
3. Check Visa
	Safety, Disease, Mecidence, Travel Warnings, Learn a few words
4. Book Flights
	Google Flights
5. Book Accomodation - Hotels, Airbnb, Couchsurfing, Hostelworld
	Transport 
7. Charles Schwab
8. T-Mobile