<div class="img-responsive home_image">

<h2>Meet Your Inspiration</h2>
<p>Find The World's Most Beautiful Places. Help Pin The World's Greatest Travel Map.</p>

</div>

<div class="row search_bar">
<%= form_tag(places_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search The Earth" %>
    <%= submit_tag "Search", :name => nil, class: 'search_button' %>
<% end %>
</div>
