<div class="experience_share">

<% if current_user %>
		<%= form_for(@experience, url: update_place_experience_path) do |f| %>
	 		<%= f.text_area :review %>
     		<%= f.submit 'Update', class: "share_button" %>
     	<% end %>
<% end %>
 </div>