// Place all the styles related to the country controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color-one: rgb(52, 165, 111);

.countries_div {
	display: flex;
	flex-wrap: wrap;
}

.glyphicon.glyphicon-flag {
	color: $color-one;
	font-size: 1.5em
}

.glyphicon.glyphicon-flag a {
	color: black;
}

.glyphicon.glyphicon-flag a:hover {
	color: $color-one;
}

.flag {
	height: 100px;
	width: 12.5%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.flag_info {
	width: 100%;
	height: 100%;
	opacity: 0;
	color: transparent;
	background-color: $color-one;
	transition: opacity 1s ease;
	position: relative;
}

.flag_info:hover {
	color: white;
	opacity: 1;
}

.flag_name {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	margin-top: 10px; 
	padding: 5px;
}

.flag_icon {
	@extend .flag_name;
	margin-top: 50px;
}

.country_button {
	background-color: $color-one;
	border: 1px solid $color-one !important;
	font-size: 20px !important;
}

.glyphicon.glyphicon-plane {
	padding: 2px;
}

