// Place all the styles related to the country controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color-one: rgb(52, 165, 111);

.countries_div {
	display: flex;
	flex-wrap: wrap;
}

.glyphicon.glyphicon-flag {
	color: $color-one;
	font-size: 1.5em;
}

.glyphicon.glyphicon-flag a {
	color: black;
}

.glyphicon.glyphicon-flag a:hover {
	color: $color-one;
}

.flag {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100px;
	width: 12.5%;
}

.flag_info {
	background-color: $color-one;
	color: transparent;
	opacity: 0;
	transition: opacity 1s ease;
	height: 100%;
	width: 100%;
	position: relative;
}

.flag_info:hover {
	color: white;
	opacity: 1;
}

.flag_name {
	left: 0;
	right: 0;
	margin-top: 10px; 
	padding: 5px;
	position: absolute;
	text-align: center;
}

.flag_icon {
	@extend .flag_name;
	margin-top: 50px;
}

.country_button {
	background-color: $color-one;
	border: 1px solid $color-one !important;
}

.glyphicon.glyphicon-plane {
	font-size: 1.6em;
	padding: 2px;
}


@media screen and (max-width: 600px) {

	.flag {
		width: 33.3%;
	}
	
}
