// Place all the styles related to the experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color-one: rgb(52, 165, 111);
$color-low-one: rgba(52, 165, 111, .2);  

.experience_share h3 {
	text-align: center;
}

.ratings {
	display: flex;
	justify-content: center;
}

.ratings label {

	input { /* Hide Radio Button */
 	 visibility: hidden; /* Makes input not-clickable */
 	 position: absolute; /* Remove input from document flow */
}	
	.fillstar {
		cursor: pointer;
		fill: white;
}

	.filled {
		fill: $color-one;
}

}

.experience_share {
	text-align: center;
}


.current_experience {
	font-weight: 400;
	padding: 50px;
}
.review_box {


#experience_review {
	width: 60%;
	height: 300px;
	display: block;
	outline-color: $color-one;
	margin: 0 auto;
	margin-bottom: 20px;
}

.share_button {
	width: 10%;
	display: block;
	background-color: $color-one;
	outline-color: $color-one;
	color: white;
	font-weight: 400;
	margin: 0 auto;
}


}

.experiences {
	display: none;
}

.experience_page {
	cursor: pointer;
	color: $color-one;
}