// Place all the styles related to the experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color-one: rgb(52, 165, 111);
$color-low-one: rgba(52, 165, 111, .2);  

.experience_share h3 {
	text-align: center;
}

.ratings {
	display: flex;
	justify-content: center;
}

.ratings label {

	input { /* Hide Radio Button */
		position: absolute; /* Remove input from document flow */
 		visibility: hidden; /* Makes input not-clickable */
	}	
	.fillstar {
		cursor: pointer;
		fill: white;
	}

	.filled {
		fill: $color-one;
	}

}

.experience_share {
	text-align: center;
}

.current_experience {
	font-weight: 400;
	padding: 50px;
}

.review_box {

	#experience_review {
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
		outline-color: $color-one;
		height: 300px;
		width: 80%;
	}

	.share_button {
		background-color: $color-one;
		color: white;
		display: block;
		font-weight: 400;
		margin: 0 auto;
		outline-color: $color-one;
		width: 20%;
	}

}

.experiences {
	display: none;
}

.experience_page {
	cursor: pointer;
	color: $color-one;
}

@media screen and (max-width: 600px) {

	#experience_review {
		border: 1px solid black;
	}

	.fillstar {
		height: 50px;
		width: 50px;
	}
	
}
