$color-one: rgb(52, 165, 111); 

body {
	font-size: 1.7em;
	font-weight: 900;
	margin: 0;
}

a {
	text-decoration: none !important;
}

h1 {
	font-size: 3em !important;
	text-align: center;
}

.navlogo {
	display: none;
}

.container {
	min-height: 100vh;
	height: 100%;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid $color-one; /* Blue */
    border-left: 16px solid #1C6BA0;
    border-right: 16px solid #1C6BA0;
    border-bottom: 16px solid $color-one; /* Blue */
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: auto;
    opacity: 1 !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    animation: spin 1s linear infinite;
    position: absolute;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }

}

.logo {
	font-family: 'Rouge Script', 'cursive';
	font-size: 36px;
	color: $color-one !important;
}

.menu-main {
	display: flex;
	align-items: flex-end;
	list-style-type: none;
	padding-left: 0;
}

.menu-main li:nth-child(1) {
	margin-left: 0 !important;
    margin-right: auto;
}

.menu-main li {
	margin-left: 50px;
}

.menu-main li a {
	color: black;
}

.menu-main li a:hover {
	color: $color-one;
}

.facebook {
	background-color: #4267B2;
	border: none;
	border-radius: 5px;
	color: white;
	font-family: Helvetica;
	font-weight: 400;
	padding: 10px;
}

.facebook:hover {
	background-color: #385590;
	color: white;
	text-decoration: none;
}

.menu-icon {
	color: $color-one;
	display: none !important;
	font-size: 2em;
	margin-left: 10px;
}

.main_footer {
	background-color: #F0FFF0;
	bottom: 0;
	display: block;
    margin-bottom: -15px;
    min-height: 40px;
    position: relative;
    width: 100%;
}

.main_footer ul {
	align-items: flex-end;
	display: flex;
	justify-content: space-around;
	height: 40px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main_footer li a {
	color: black;
}

.main_footer li a:hover {
	color: $color-one;
}

#delete_account {
	background-color: transparent;
	border: none;
	padding: 0;
}

#delete_account:hover {
	color: $color-one;
}

@media screen and (max-width: 640px) {
	.navlogo {
		display: block;
	}

	.container {
		margin: 0;
		padding: 0 !important;
		width: 100% !important;
	}

	.front_page_container {
		display: none;
	}

	.facebook {
		background-color: #4267B2;
		border: none;
		border-radius: 5px;
		font-family: 'Helvetica', 'serif';
		font-weight: 400;
		padding: 5px 10px 5px 10px;
	}

	.logo {
		margin-top: 10px;
		margin-right: 10px;
	}

	.menu-icon {
		clear: right;
		cursor: pointer;
		display: block !important;
		float: left;
		padding-top: 10px;
		padding-bottom: 10px
	}

	.menu-nav {
		top: 0px;
	}

	.menu-main {
		background-color: $color-one;
		display: none;
		height: 100vh;
		max-width: 100%;
		width: 100%;
		z-index: 1030;
	}

	.menu-main li a:nth-child(1) {
		font-family: 'Helvetica', 'serif' !important;
		color: white !important;
		font-size: 1.5em;
	}


	.menu-main li {
		margin: 0;
		padding-left: 10px;
		border-bottom: 1px solid white;
	}

	.menu-main li a {
		color: white;
	}

	.menu-main li:hover {
		background-color: white;
		a {
			color: $color-one !important;
		}
	}
}

