$color-one: rgb(52, 165, 111); 

body {
	font-size: 1.7em;
	font-weight: 900;
}

a {
	text-decoration: none !important;
}

.container {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	margin-top: 20px !important;
}

.logo {
	font-family: 'Rouge Script', cursive;
	color: $color-one;
	font-size: 2.8em;
}

.endlogo {
	white-space: nowrap;
  	overflow: hidden;
	animation: write 3s steps(60, end); 
	width: 100%;
}


@keyframes write{
  0%{width: 0;}
  50%{width: 50;}
  100%{ width: 100;} 
} 

.mynavbar ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	margin-bottom: 10px;
	padding: 0;
}

.mynavbar li {
	position: relative;
}

.mynavbar li a {
	color: black;
}

.mynavbar li a:hover {
	color: $color-one;
}

.mynavbar li:hover ul {
    display: block;
    z-index: 1030;
}

.mynavbar li ul {
	display: none;
	position: absolute;
}

.instagram-logo {
	position: absolute;
	width: 25px;
	height: 25px;
	right: 0;
	margin-right: 15px;
	top: 50;
	top: 50px;
}

a:hover {
	fill: $color-one;
}

.facebook {
	background-color: #4267B2;
	color: white;
	border-radius: 5px;
	font-family: Helvetica;
	padding: 10px;
	border: none;
	font-weight: 400;
}

.facebook:hover {
	color: white;
	background-color: #385590;
	text-decoration: none;
}

.main_footer {
	display: block;
	position: relative;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    margin-bottom: -15px;
    background-color: #F0FFF0;
}

.main_footer ul {
	list-style-type: none;
	margin-left: 15px;
	margin-bottom: 0;
	padding: 0;
	display: flex;
	height: 40px;
    align-items: flex-end;
    justify-content: space-around;
}

.main_footer li a {
	color: black;
}

.main_footer li a:hover {
	color: $color-one;
}

#delete_account {
	background-color: transparent;
	border: none;
}

#delete_account:hover {
	color: $color-one;
}


