$color-one: rgb(52, 165, 111); 

html {
	-webkit-tap-highlight-color: transparent;
}

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before *:after {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
	font-weight: 900;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 3em;
	text-align: center;
	margin-bottom: 5px;
}

h3 {
	font-size: 24px;
}

h2, h4, h5, h6 {
	margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

p {
    margin: 0 0 10px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

button {
	-webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
    font: inherit;
    margin: 0;
    text-transform: none;
}

input {
	-webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
}

input[type="file"] {
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb;
}

.navlogo {
	display: none;
}


#overlay {
	background-color: rgba(255, 255, 255, .6);
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
	clear: both;
}


.container {
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
	min-height: 100vh;
	height: 100%;
	width: 1170px;
}

.container:before,.container:after {
	content: " ";
    display: table;
}

.container:after {
	clear: both;
}


.up {
	background-color: transparent;
	color: black;
	cursor: pointer;
	display: none;
	font-size: 2em;
	padding: 5px;
	top: 80%;
	right: 2.5%;
	position: fixed;
	z-index: 3;
}

.up:hover {
	fill: $color-one;
}

/*
#loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid $color-one; 
    border-left: 16px solid #1C6BA0;
    border-right: 16px solid #1C6BA0;
    border-bottom: 16px solid $color-one; 
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: auto;
    opacity: 1 !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    animation: spin 1s linear infinite;
    position: absolute;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }

}
*/

.logo {
	color: $color-one;
	font-family: 'Rouge Script', 'cursive';
	font-size: 2.5em;
}

.menu-main {
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	align-items: flex-end;
	-ms-flex-align: end;
  	-webkit-align-items: center;
	transition: none;
	margin: 0;
}

.menu-main li:nth-child(1) {
	margin-left: 0;
    margin-right: auto;
}

.menu-main li {
	margin-left: 40px;
	padding: 10px;
}

.menu-main li a:hover {
	color: $color-one;
}

.menu-places ul {
	background-color: #F0FFF0;
	display: none;
	list-style-type: none;
	margin-left: 0;
	padding: 0;
	position: absolute;
	z-index: 1030;
}

.menu-places ul li:last-child {
	border: 1px solid black;
}


.menu-places ul li {
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	margin-left: 0;
}

.menu-places:hover {
	ul {
		display: block;
	}
}

.menu-places ul a:hover {
	color: black;
}

.facebook {
	background-color: #4267B2;
	border: none;
	border-radius: 5px;
	color: white;
	font-family: Helvetica;
	font-weight: 400;
	padding: 10px;
}

.facebook:hover {
	background-color: #385590;
	color: white;
	text-decoration: none;
}

.menu-icon {
	fill: $color-one;
	display: none;
	font-size: 2em;
	margin-left: 10px;
}

.main_footer {
	background-color: #F0FFF0;
	bottom: 0;
	display: block;
    margin-bottom: -15px;
    min-height: 40px;
    padding: 0;
    position: relative;
    text-align: center;

    input {
    	background-color: inherit;
    	border: none;
    	cursor: pointer;
    }
}


@media screen and (max-width: 1200px) {
	.container {
		width: 970px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 750px;
	}
}

@media screen and (max-width: 768px) {
	.front_page_container {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	.navlogo {
		display: block;
	}

	.container {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.facebook {
		background-color: #4267B2;
		border: none;
		border-radius: 5px;
		font-family: inherit;
		font-weight: 400;
		padding: 5px 10px 5px 10px;
	}

	.logo {
		margin-top: 10px;
		margin-right: 10px;
	}

	.menu-icon {
		clear: right;
		cursor: pointer;
		display: block;
		float: left;
		padding-top: 10px;
		padding-bottom: 10px
	}

	.menu-nav {
		top: 0px;
	}

	.menu-main {
		background-color: $color-one;
		display: block;
		height: 0px;
		overflow: hidden;
		transition: .5s height;
		width: 100%;
		z-index: 1030;
	}

	.menu-main li a:nth-child(1) {
		color: white !important;
		font-family: inherit;
		font-size: 1.5em;
	}


	.menu-main li {
		border-bottom: 1px solid white;
		margin: 0;
		padding-left: 10px;
	}

	.menu-main li a {
		color: white;
	}

	.menu-main li:hover {
		background-color: white;
		a {
			color: $color-one !important;
		}
	}

	.menu-places ul {
		border: 1px solid $color-one;
		left: 125px;
	}
}

