
// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color-one: rgb(52, 165, 111);
$font-one: 'IM Fell Great Primer SC', serif;

.front_page_container {
	font-family: $font-one;
	padding-bottom: 40px;
	text-align: center;

	h2 {
		font-size: 5em;
		margin-top: 0;
		padding-top: 20px;
	}

	h1 {
		font-size: 1em;
	}

	p {
		font-size: 1.2em;
	}
	
}

#email {
	text-align: center;

	a {
		color: black;
	}
	a:hover {
		color: $color-one;
	}
}

.top_banner {
	font-family: $font-one;
	font-size: 4em;
	margin-top: 0;
	padding: 20px 0px 20px 0px;
	text-align: center;
	width: 100%;
}

.top_title {
	font-family: $font-one;
	width: 100%;

	div {
		opacity: .5;
		width: 40%;
	}

}

.top_photo {
	background-repeat: no-repeat;
 	background-size: 100% 100%;
	height: 90vh;
	width: 100%;
}

.full_page_wrapper {
	font-family: $font-one;
	height: 100%;
	width: 100%;
	position: relative;
	transition: transform .5s linear;
}


.main_menu_link {
	position: fixed;
	top: 20px;
	left: 10px;
	z-index: 2;

	.glyphicon-arrow-left {
		color: white;
		font-size: 2em;
	}

}

.travel_menu {
	position: fixed;
	right: 10px;
	font-size: 2em;
	z-index: 1;

	ul {
		list-style-type: none;
		padding: 0;
	}

		
	.travel_link {
		cursor: pointer;
		margin-top: 20px;
	}

	.dot {
		border: 2px solid white;
		border-radius: 50px;
		width: 10px;
		height: 10px;
	}
}

.full_page_section {
	image-rendering:-webkit-optimize-contrast;
	position: relative;
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}


@media screen and (max-width: 640px) {

	.top_title {
		padding: 10px;

		div {
			padding: 10px;
			width: 100%;
		}

	}

	.top_photo {
		height: 50vh;
	}
}
