// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color-one: rgb(52, 165, 111);

.front_page_container {
	text-align: center;
	margin-top: 20px;
}
 

.travel_plan {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    h4 {
    	margin-top: 40px;
    	color: red;
    }

}


.about {
	width: 75%;
	margin: 0 auto;
	p {
		line-height: 2;
	}
}
