// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.place_display {
	width: 200px;
	height: 200px;
	border: 1px solid black;
	float: left;
}

.place_color {
	height: 100%;
	width: 100%;
	color: transparent;
	padding-top: 1px;
	margin-top: -1px;
}	

.place_color a {
	color: transparent;
}

.place_color p {
	margin-top: 70px;
	text-align: center;
	padding: 5px;
}


.place_color:hover {
	background-color: rgba(52, 165, 111, .5);
	color: white;
	a {
		color: white;
	}
}

.place_info {
	text-shadow: 1px 1px solid red;
	position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

h1 {
	font-size: 4em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}


.place_image {
	background-image: url('');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 70%;
	height: 500px;
	float: left;
	border: 1px solid black;
}

.place_content_bar {
	width: 30%;
	height: 500px;
	float: left; 
	border: 1px solid black;
}

.place_content_bar p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: .9em;
	margin-bottom: 0;
	padding: 2px;
}

.place_content_bar h4 {
	text-align: center;
	padding : 5px;
}
