// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color-one: rgb(52, 165, 111);

.user_countries a {
	color: black;
}

.user_countries a:hover {
	color: $color-one;
}

.users_nav ul {
	clear: both;
	float: right;
	list-style-type: none;
}

.users_nav li {
	display: inline-block;
	margin-left: 20px;
}

.delete-dreams {
	background-color: transparent;
	border: none;
	color: white;
	top: 0;
	right: 0;
	position: absolute;
}

.user_experiencesheader {
	text-align: center;
}

.user_experiences {

	h4 {
		font-weight: 900;
		text-align: center;
	}

	p {
		clear: left;
		display: inline-block;
		font-weight: 400;
		float: left;
		margin-bottom: 0;
		padding-left: 60px;
		padding-right:60px;
	}

	.place_buttons {
		display: inline-block;
		font-weight: 400;
		float: right;
		margin-right: 60px;
	}

}

.country_list {
	display: flex;
	flex-wrap: wrap;
}

.xcountry_button {
	background-color: $color-one;
	border: 1px solid black;
	color: white;
	font-size: 0.5em;
	margin: 5px;
	padding: 2px;
}

.pinned_places {
	text-align: center;
}

#showpins {
	background-color: transparent;
	border: none;
	margin: 0 auto;
}

.dream_places {
	@extend .pinned_places
}

.experienced_places {
	@extend .pinned_places
}

#showdreams {
	@extend #showpins
}

#showexperiences {
	@extend #showpins
}


@media screen and (max-width: 640px) {

	.user_countries {
		text-align: center;
	}

}