<% @places.all.each do |place| %>
	<div class="place_display">
			<%= link_to place_path(place.id) do %>
				<div class="place_color">
					<p><%= place.name %></p>
				</div>
			<% end %> 
	</div>
<% end %>