<% @places.all.each do |place| %>
	<div class="place_display" style="background-image: url('<%= place.avatar.url(:thumb) %>')">
			<%= link_to place_path(place.url) do %>
				<div class="place_color">
					<p><%= place.name %></p>
				</div>
			<% end %> 
	</div>
<% end %>